/* 
    Variables / Custom properties
*/
:root {
    --orange: #fe7214;
    --lightorange: #ff9700;
    --black: #000000;
    --white: #FFFFFF;
    --lightwhite: #F0F0F0;
    --gray: #a6a6a6;
    --espacio: 20px; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* Cuando se usa una imagen de fonde se deberia color tambien un color de fondo similar al de la imagen*/
    background-color: var(--black);
    background-image: url(images/pattern.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
/* ----------------------- Cabecera ----------------------*/
.header, .container{
    max-width: 1000px;
    margin: auto;
}
.container{
    background-color: var(--white);
    border-radius: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.title{
    color: var(--orange);
}
/* ----------------------- Menu ----------------------*/
.navbar{
    background-color: var(--orange);
    padding: 10px;
    padding-left: 45px;
    display: flex;   
    border-radius: 10px;
    /* Separa la botonera del slider*/
    margin-bottom: 20px;
}
.navbar, .navbar-form{
    flex-grow: 1;
}
.list-item{
    list-style: none;
    display: flex;
}
.item-link{
    text-decoration: none;
    color: var(--white);
    display: block;
    padding: 5px 10px;
    border-right: 1px solid var(--lightorange);
    font-weight: bold;
}
.item-link:hover{
    text-decoration: underline;
}
.navbar-form{
    display: flex;
    justify-content: flex-end;
    margin: auto 20px;
}
.navbar-form-input{
    margin: auto 20px;
    border-radius: 5px;
    border: 1px solid var(--lightwhite);
}
.navbar-form-btn{
    background-color: var(--lightwhite);
    border: 1px solid var(--lightwhite);
    border-radius: 5px;
    padding: 0 15px;
    cursor: pointer;
}
/*----------------------- Slider -----------------------*/
.slider{
    text-align: center;
    margin-bottom: var(--espacio);
}
/*----------------------- Principal -----------------------*/
.principal{
    display: grid;
    grid-template-columns: 250px 1fr;
    padding: 0 var(--espacio);
    margin-bottom: var(--espacio);
}
/*----------------------- Categorias -----------------------*/
.list-categoria{
    list-style: none;
    margin-right: var(--espacio);
}
.item-categoria{
    margin: var(--espacio) 0;
    
}
.item-categoria-link{
    text-decoration: none;
    padding: 10px 0;
    border-bottom: 2px dashed var(--gray);
    display: block;
    color: var(--black);
    
}
/*----------------------- Productos -----------------------*/
.principal-producto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 200px;
    gap: var(--espacio);
}
.card{
    max-height: 250px;
}
.card-title{
    margin-left: 30px;
}
.card-body{
    /*Cambiar por flex asi es mas facil que sea responsive*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 20px;
    gap: 20px;
    
}
.card-img{
    margin: auto;
    margin-left: 10px;
}
.card-text{
    margin: auto;
    margin-right: 10px;
    text-align: justify;
    font-size: 12px;
}
/*----------------------- Newsletter -----------------------*/
.newsletter{
    margin: auto;
    margin-bottom: var(--espacio);
    max-width: 940px;
    background-color: chartreuse;
    border-radius: 6px;
    border: 1px solid var(--gray);
    padding: 10px 40px;
    /* Colores van separados por coma y puedo modifiar la cantidad de cada color(70%)*/
    background-image: linear-gradient(var(--white) 70%, var(--gray));
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.aviso{
    /* Pega el .aviso al .sobre*/
    flex-grow: 1;
    padding-left: var(--espacio);
}
.aviso-text1{
    font-weight: bold;
}
.aviso-text2{
    padding-left: 50px;
}
.form-news-input{
    border-radius: 5px;
    border: 1px solid var(--gray);
}
.btn-news{
    font-weight: bold;
}
/*-------------------------------------Footer------------------------*/
.footer{
    /* Cambiar a grid*/
    background-color: var(--lightwhite);
    display: flex;
    justify-content: space-evenly;
    border: 2px solid var(--gray);
    padding: 10px 0;
}
.footer-two{
    border-right: 1px solid var(--black);
    padding-right: 10px;
}
.footer-credit{
    display: flex;
    align-items: flex-end;
}
.footer-text{
    font-size: 14px;
}