/* 
    Variables / Custom properties
*/
:root {
    --orange: #fe7214;
    --lightorange: #ff9700;
    --black: #000000;
    --white: #FFFFFF;
    --lightwhite: #F0F0F0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* Cuando se usa una imagen de fonde se deberia color tambien un color de fondo similar al de la imagen*/
    background-color: var(--black);
    background-image: url(images/pattern.jpg);
    font-family: Arial, Helvetica, sans-serif;
}
/* ----------------------- Cabecera ----------------------*/
.header, .container{
    max-width: 1000px;
    margin: auto;
}
.container{
    background-color: var(--white);
    border-radius: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.title{
    color: var(--orange);
}
/* ----------------------- Menu ----------------------*/
.navbar{
    background-color: var(--orange);
    padding: 10px;
    padding-left: 45px;
    display: flex;   
    border-radius: 10px;
}
.navbar, .navbar-form{
    flex-grow: 1;
}
.list-item{
    list-style: none;
    display: flex;
}
.item-link{
    text-decoration: none;
    color: var(--white);
    display: block;
    padding: 5px 10px;
    border-right: 1px solid var(--lightorange);
    font-weight: bold;
}
.item-link:hover{
    text-decoration: underline;
}
.navbar-form{
    display: flex;
    justify-content: flex-end;
    margin: auto 20px;
}
.navbar-form-input{
    margin: auto 20px;
    border-radius: 5px;
    border: 1px solid var(--lightwhite);
}
.navbar-form-btn{
    background-color: var(--lightwhite);
    border: 1px solid var(--lightwhite);
    border-radius: 5px;
    padding: 0 15px;
}